* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(235deg, #0a0f26 0%, #1f2a58 100%);
}

@font-face {
  font-family: "Kaftan-Trial";
  src: url(/Solaris/img/kaftan-trial.otf);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin: 2rem;
}

button {
  background-color: transparent;
  border: none;
}

.solar-system {
  display: flex;
  flex-direction: row;

  align-items: center;
  height: 70vh;
}

.planets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sun {
  float: left;
  width: 400px;
  height: 90vh;
  margin-top: 0;
  margin: 0;
}

.jupiter {
  position: absolute;
  margin-left: 20px;
}

.jupiter-ring {
  position: relative;
  margin-top: 15px;
}

.Ellipse9 {
  margin-right: 60px;
}

.outerSun {
  position: absolute;
  height: 100vh;
}

.innerSun {
  position: absolute;
  left: 0;
  height: 100vh;
}

.middleSun {
  position: relative;
  height: 100vh;
}

h1 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: whitesmoke;
  margin: 10px 20px;
  letter-spacing: 15px;
  font-weight: bolder;
}

h2 {
  text-align: left;
  font-family: "Kaftan-Trial";
  color: rgb(197, 165, 39);

  margin: 10px 20px;
  letter-spacing: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}

h3 {
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 0;
  padding-right: 2rem;
}

.planet-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 500px;
}

.planet-info {
  border-bottom: solid 1px #475487;
  padding: 1rem 0;
}

.planet-numbers {
  border-bottom: solid 1px #475487;
}

.planet-numbers,
.planet-numbers2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.planet-img {
  cursor: pointer;
  margin-right: 2rem;
  transition: scale 0.15s;
}

.planet-img:hover {
  scale: 1.1;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(235deg, #0a0f26 0%, #1f2a58 100%);
  z-index: 2;
  cursor: pointer;
}

#overlayText {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.715);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

p {
  padding-bottom: 1rem;
}
